/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 62.5%;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2rem 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #efedea;
}

.wrapper {
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    overflow: hidden;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2rem;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper > aside {
  width: 200px;
  position: fixed;
  float: left;
  background-color: #fff;
}

.wrapper > aside > .photo {
  height: 200px;
  width: 100%;
  -moz-border-radius:100%; 
  overflow: hidden;
  position: relative;
  text-align: center;
}

.wrapper > aside > .photo > img {
  height: 100%;
}

.wrapper > aside > .social {
  width: 160px;
  font-size: 1px;
  font-size: 0.1rem;
  line-height: 0;
  text-align: justify;
  margin: 20px auto;
  position: relative;
}

.wrapper > aside > .social::after {
  content: " ";
  display: inline-block;
  font-size: 0;
  width: 100%;
}

.wrapper > aside > .social > a {
  line-height: 40px;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #086fa1;
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.wrapper > aside > .social > a:hover {
  background-color: #ffa640;
}

.wrapper > section {
  width: 75%;
  float: right;
}

.wrapper > section > article {
  width:  88.611111111%;
  background-color: #fff;
  position: relative;
  padding: 40px;
  margin-bottom: 80px;
}

.wrapper > section > article > h1 {
  text-align: center;
  color: #ffa640;
}

.wrapper > section > article > .article-content,
.wrapper > section > article > .article-content > img {
  width: 100%;
}

.wrapper > section > article > .article-content > .vertical {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.wrapper > section > article > .article-content > .vertical > ul {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.wrapper > section > article > .article-content > .vertical > .nav-btn,
.wrapper > section > article > .article-content > .vertical:hover > .nav-btn.inactive,
.wrapper > section > article > .article-content > .vertical:hover > .nav-btn.inactive:hover {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  text-align: center;
}

.wrapper > section > article > .article-content > .vertical:hover > .nav-btn.inactive > i,
.wrapper > section > article > .article-content > .vertical:hover > .nav-btn.inactive:hover > i {
  color: rgba(255, 255, 255, 0);
}

.wrapper > section > article > .article-content > .vertical:hover > .nav-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  margin: 0;
}

.wrapper > section > article > .article-content > .vertical:hover > .nav-btn > i {
  font-size: 30px;
  line-height: 40px;
  color: rgba(255, 255, 255, .3);
}

.wrapper > section > article > .article-content > .vertical:hover > .nav-btn:hover {
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
}

.wrapper > section > article > .article-content > .vertical:hover > .nav-btn:hover > i {
  color: rgba(255, 255, 255, .7);
}

.wrapper > section > article > .article-content > .vertical > .nav-btn.prev,
.wrapper > section > article > .article-content > .vertical > .nav-btn.next {
  width: 100%;
  height: 40px;
  left: 0;
  right: 0;
  outline: none;
}

.wrapper > section > article > .article-content > .vertical > .nav-btn.prev {
  top: 0;
}

.wrapper > section > article > .article-content > .vertical > .nav-btn.next {
  bottom: 0;
}

.wrapper > section > article > .article-content  p, 
.wrapper > section > article > .article-content  a,
.wrapper > section > article > .article-date {
  color: #7c705e;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.wrapper > section > article > .article-content  a:hover {
  text-decoration: none;
}

.wrapper > section > article > .article-date {
  font-seze: 12px;
  font-size: 1.2rem;
  color: #ada393;
  text-align: right;
}

aside, section, article {
  height: auto;
  position: relative;
  vertical-align: top;
}

.wrapper > section > .more-post {
  width: 100%;
  height: 40px;
  background-color: #086fa1;
  border: none;
  outline: none;
  color: #fff;
}

.wrapper > section > .more-post:hover {
  background-color: #ffa640;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 960px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
